@using System.Text
@using MonitoringSystem.Shared.Data
@using MonitoringSystem.Shared.Data.LogModel
@using MonitoringSystem.Shared.Services
@using MonitoringWeb.WebApp.Data
@using MonitoringWeb.WebApp.Services

<DxPopup
    @bind-Visible="@this._msgBoxVisible"
    ShowFooter="true"
    HeaderText="@this._msgHeader">
    <BodyContentTemplate>
        @*<p style="white-space: pre-line;">@this._msgText</p>*@
        <div class="row justify-content-center">
            <div class="row text-center fw-bold border border-1 w-75">
                <h5>Are you sure you want to save the following new alert levels?</h5>           
            </div>

            <table class="table table-bordered text-center w-75">
                <thead>
                <tr>
                    <th scope="col">Alert</th>
                    <th scope="col">Level</th>
                    <th scope="col">Estimated Dates</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>SoftWarn</td>
                    <td>@this._estimates.SoftWarn</td>
                    <td>@this._estimates.SoftWarnDate.ToString("d")</td>
                </tr>
                <tr>
                    <td>Warning</td>
                    <td>@this._estimates.Warning</td>
                    <td>@this._estimates.WarningDate.ToString("d")</td>
                </tr>
                <tr>
                    <td>Alarm</td>
                    <td>@this._estimates.Alarm</td>
                    <td>@this._estimates.AlarmDate.ToString("d")</td>
                </tr>
                </tbody>
            </table>
        </div>
    </BodyContentTemplate>

    <FooterContentTemplate Context="Context">
        <div class="row">
            <div class="col w-50">
                <DxButton CssClass="popup-button my-1 ms-2"
                          RenderStyle="ButtonRenderStyle.Primary"
                          Text="Continue"
                          Click="@(async () => await ContinueHandler())"/>

            </div>
            <div class="col w-50">
                <DxButton CssClass="popup-button my-1 ms-2"
                          RenderStyle="ButtonRenderStyle.Primary"
                          Text="Cancel"
                          Click="@(async () => await CancelHandler())"/>
            </div>
        </div>

    </FooterContentTemplate>
</DxPopup>

<div class="container w-100">
    <DxLoadingPanel Visible="@this._loading"
                    ApplyBackgroundShading="true">
        <div class="row justify-content-center w-100">
            <div class="row text-center justify-content-center border rounded-3">
                <h3> Alert Level Calculator</h3>
            </div>
            <div class="col w-50 border rounded-3">
                <h5>Instructions</h5>
                <p><span style="color: #d97945;">**Warning**:</span> This calculator is to be used only by approved parties. 
                    Changing values here could delay bulk H2 shipments causing production delays</p>
                <p><span style="color: #00fff7;">Notes:</span> This calculator uses a calculated daily usage rate to calculate the SoftWarn level such that it is sent a set number of days before the Alarm Level.  The Warning is then calculated such that it will be sent in the middle of the SoftWarn and Alarm.  The daily usage rate is calculated by averaging a number of days in a date range.  This is done through the user setting the number of days to avergage from the current date, by selecting the date range, or through manually entry. The calculated rate can then be manually fined tuned byt the user</p>
  
                <h5>Usage Rate Calculation Options</h5>
                <ol>
                    <li>Number of days to average daily usage</li>
                    <ol>
                        <li>Use the sliding bar to change the number of days to average or Manualy enter the number of days next to the slider</li>
                        <li>Fine tune the value by adjusting the rate shown in the Average PSI/Day input</li>
                        <li>Press the "Submit" button to save the changes</li>
                    </ol>
                    <li>Date Range</li>
                    <ol>
                        <li>Select the start and stop dates to average the daily usage</li>
                        <li>Press the "Calculate" button</li>
                        <li>Fine tune the value by adjusting the rate shown in the "Average PSI/Day" input</li>
                        <li>Press the "Submit" button to save the changes</li>
                    </ol>
                    <li>Manually Set</li>
                    <ul>
                        <li>Set the usage rate in the Average PSI/Day input</li>
                    </ul>
                </ol>
  
                <p><span style="color: #c744c7;">Manual Alert Level Setting:</span> It is also possible to bypass the usage rate calculation
                    and manually enter the SoftWarn and Warning levels.  
                    To manually enter the SoftWarn and Warning levels go to the "Settings" tab.  Press the "Save Changes"</p>
            </div>
            <div class="col border rounded-3">
                <div class="row justify-content-center">
                    <div class="card-body col-md-6 mx-auto border rounded-3 p-4 justify-content-center">
                        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
                            <DxFormLayoutTabPages @bind-ActiveTabIndex="@this._tabIndex">
                                <DxFormLayoutTabPage Caption="By Average">
                                    <DaysFromAlertCalc Days="@this._days"
                                                       DaysChanged="@(async (int newValue) => await DaysChangedHandler(newValue))"
                                                       IncludeWeekends="@this._includeWeekends"
                                                       IncludeWeekendsChanged="@(async (bool newValue) => await IncludeWeekendsChangedHandler(newValue))"/>
                                </DxFormLayoutTabPage>
                                <DxFormLayoutTabPage Caption="By Date Range">
                                    <DateRangeAlertCalc @bind-StartDate="@this._startDate"
                                                        @bind-StopDate="@this._stopDate"
                                                        IncludeWeekends="@this._includeWeekends"
                                                        IncludeWeekendsChanged="@(async (bool newValue) => await IncludeWeekendsChangedHandler(newValue))"
                                                        CalculateClicked="@(async () => await Calculate(true, true))"/>
                                </DxFormLayoutTabPage>
                            </DxFormLayoutTabPages>
                            <DxFormLayoutGroup Caption="Estimated Alert Level">
                                <DxFormLayoutItem Caption="Average PSI/Day" BeginRow="true">
                                    <DxSpinEdit Value="@this._rate"
                                                ValueChanged="@(async (double newValue) => await RateChangedHandler(newValue))"/>

                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption="SoftWarn Level" BeginRow="true">
                                    <DxSpinEdit Value="@this._calculatedValue" ReadOnly="true"/>
                                </DxFormLayoutItem>
                            </DxFormLayoutGroup>
                            <DxFormLayoutItem Caption="Save New Alert Level" BeginRow="true" ColSpanMd="12">
                                <DxButton Text="Submit"
                                          Click="@(async () => await SubmitHandler())"
                                          RenderStyle="ButtonRenderStyle.Primary" CssClass="w-100"/>
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </div>
                </div>
            </div>
            <div class="col justify-content-center border rounded-3">
                <div class="row text-center border border-1" style="margin: 1rem">
                    <h5> Current H2 Level(PSI) @this._lastReading</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="row text-center border border-1 w-75">
                        <h6>Current Alert Levels</h6>
                    </div>
                    <table class="table table-bordered text-center w-75">
                        <thead>
                        <tr>
                            <th scope="col">Alert</th>
                            <th scope="col">Level</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>SoftWarn</td>
                            <td>@this._analogItem?.Level1SetPoint</td>
                        </tr>
                        <tr>
                            <td>Warning</td>
                            <td>@this._analogItem?.Level2SetPoint</td>
                        </tr>
                        <tr>
                            <td>Alarm</td>
                            <td>@this._analogItem?.Level3SetPoint</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center">
                    <div class="row text-center border border-1 w-75">
                        <h5>New Alert Levels and Estimate Alert Dates</h5>
                    </div>
                    <table class="table table-bordered text-center w-75">
                        <thead>
                        <tr>
                            <th scope="col">Alert</th>
                            <th scope="col">Level</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>SoftWarn</td>
                            <td>@this._estimates.SoftWarn</td>
                            <td>@this._estimates.SoftWarnDate.ToString("d")</td>
                        </tr>
                        <tr>
                            <td>Warning</td>
                            <td>@this._estimates.Warning</td>
                            <td>@this._estimates.WarningDate.ToString("d")</td>
                        </tr>
                        <tr>
                            <td>Alarm</td>
                            <td>@this._estimates.Alarm</td>
                            <td>@this._estimates.AlarmDate.ToString("d")</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </DxLoadingPanel>
</div>

<UsageTable GasType="@BulkGasType.H2"/>

@code {
    [Inject] private BulkH2CalcService _bulkH2Service { get; set; }
    
    private bool _msgBoxVisible = false;
    private string _msgHeader = "";
    private string _msgText = "";

    private bool _loading = false;
    int _days = 0;
    double _calculatedValue = 0;
    double _rate = 0.00;
    double _lastReading = 0.00;
    int _daysFromAlarm = 3;
    bool _includeWeekends = true;
    private DateTime _startDate = DateTime.Now.AddDays(-30);
    private DateTime _stopDate = DateTime.Now;
    private int _tabIndex = 0;
    private AnalogItem? _analogItem;

    Estimates _estimates = new Estimates() {
        SoftWarnDate = DateTime.MinValue,
        WarningDate = DateTime.MinValue,
        AlarmDate = DateTime.MinValue,
    };

    protected override async Task OnInitializedAsync() {
        this._days = 10;
        var settings = await this._bulkH2Service.GetSettings();
        this._analogItem = settings.AnalogItem;
        await this.Calculate();
    }

    private async Task DaysChangedHandler(int value) {
        this._days = value;
        this._startDate = DateTime.Now.AddDays(-value);
        this._stopDate = DateTime.Now;
        await this.Calculate();
        await InvokeAsync(StateHasChanged);
    }

    private async Task RateChangedHandler(double newRate) {
        this._rate = newRate;
        await this.Calculate(false);
    }

    private async Task IncludeWeekendsChangedHandler(bool newValue) {
        this._includeWeekends = newValue;
        await this.Calculate(dateRangeCalc: this._tabIndex == 1);
    }

    private async Task Calculate(bool updateRate = true, bool dateRangeCalc = false) {
        this._loading = true;
        H2AlertCalcDto calcDto;

        if (updateRate == false) {
            calcDto = await this._bulkH2Service.CalculateAlertLevels(this._rate);
            this._estimates = calcDto.Estimates;
            this._rate = calcDto.Rate;
            this._calculatedValue = calcDto.Estimates.SoftWarn;
            this._lastReading = calcDto.LastReading;
        } else {
            if (dateRangeCalc) {
                calcDto = await this._bulkH2Service.CalculateAlertLevels(this._startDate, this._stopDate, this._includeWeekends);
            } else {
                calcDto = await this._bulkH2Service.CalculateAlertLevels(this._days, this._includeWeekends);
            }

            this._days = calcDto.Days;
            this._estimates = calcDto.Estimates;
            this._rate = calcDto.Rate;
            this._calculatedValue = calcDto.Estimates.SoftWarn;
            this._lastReading = calcDto.LastReading;
        }

        this._loading = false;
    }
    
    private Task ContinueHandler() {
        this._msgBoxVisible = false;
        return Task.CompletedTask;
        //await this._bulkH2Service.SaveNewAlertLevels(this._estimates);
    }
    
    private Task CancelHandler() {
        this._msgBoxVisible = false;
        return Task.CompletedTask;
    }

    private Task SubmitHandler() {
        /*StringBuilder builder = new StringBuilder();
        builder.Append("Are you sure you want to save the following new alert levels?"+Environment.NewLine);
        builder.AppendLine($"SoftWarn: {this._estimates.SoftWarn} Warning: {this._estimates.Warning} Alarm: {this._estimates.Alarm}");
        this._msgText = builder.ToString();*/
        this._msgText = $"Are you sure you want to save the following new alert levels? \n" +
                        $"SoftWarn: {this._estimates.SoftWarn} Warning: {this._estimates.Warning} Alarm: {this._estimates.Alarm}";
        //await this._bulkH2Service.SaveNewAlertLevels(estimates:_estimates);
        this._msgHeader="Save New Alert Levels? ";
        this._msgBoxVisible = true;
        return Task.CompletedTask;
    }
}