@using System.Text
@using MonitoringSystem.Shared.Data
@using MonitoringSystem.Shared.Data.LogModel
@using MonitoringSystem.Shared.Services
@using MonitoringWeb.WebApp.Data
@using MonitoringWeb.WebApp.Services

<div class="row w-100 m-1">
    <DxAccordion LoadChildItemsOnDemand="true">
        <Items>
            <DxAccordionItem Text="Alert Calculator" Expanded="true">
                <ContentTemplate>
                    <div class="row d-flex justify-content-center p-3">
                        <div class="card">
                            <div class="card-header bg-primary text-white text-center rounded rounded-3">
                                <h3> Alert Level Calculator</h3>
                            </div>
                            <div class="card-body">
                                <div class="row justify-content-center w-100">
                                    <div class="col-4 fs-5">
                                        <BulkH2CalcInstructions/>
                                    </div>
                                    <div class="col-4">
                                        <div class="row justify-content-center">
                                            <BulkH2Calculator LastReading="@this._lastReading"
                                                              LastReadingChanged="@this.LastReadingChangedHandler"
                                                              AnalogItemLoaded="@this.AnalogItemLoadingHandler"
                                                              Estimates="@this._estimates"
                                                              EstimatesChanged="@this.EstimatesChangedHandler"
                                                              LoadingChanged="@(async (bool state) => await this.LoadingChanged(state))"
                                                              LoadingTextChanged="@(async (string text) => await this.LoadingTextChanged(text))"/>
                                        </div>
                                    </div>
                                    <div class="col-4 justify-content-center ">
                                        <BulkH2CalcEstimateTable AnalogItem="@_analogItem"
                                                                 Estimates="@_estimates"
                                                                 LastReading="@_lastReading"
                                                                 LoadingText="@this._loadingText"
                                                                 Loading="@this._loading"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ContentTemplate>

            </DxAccordionItem>
            <DxAccordionItem Text="Usage Table">
                <ContentTemplate>
                    <div class="row d-flex justify-content-center">
                        <UsageTable GasType="@BulkGasType.H2"/>
                    </div>
                </ContentTemplate>
            </DxAccordionItem>
        </Items>
    </DxAccordion>
</div>



@code {

    private bool _loading = false;
    private string _loadingText = "Calculating. . . . .";

    private Estimates _estimates = new Estimates() {
        SoftWarnDate = DateTime.MinValue,
        WarningDate = DateTime.MinValue,
        AlarmDate = DateTime.MinValue,
    };

    private double _lastReading = 0.00;
    private AnalogItem? _analogItem;

    private Task AnalogItemLoadingHandler(AnalogItem item) {
        this._analogItem = item;
        return InvokeAsync(StateHasChanged);
    }

    private Task EstimatesChangedHandler(Estimates estimates) {
        this._estimates = estimates;
        return InvokeAsync(StateHasChanged);
    }

    private Task LastReadingChangedHandler(double lastReading) {
        this._lastReading = lastReading;
        return InvokeAsync(StateHasChanged);
    }

    private Task LoadingChanged(bool state) {
        this._loading = state;
        return Task.CompletedTask;
    }

    private Task LoadingTextChanged(string loadingText) {
        this._loadingText = loadingText;
        return Task.CompletedTask;
    }

}