@using MonitoringSystem.Shared.Data.EntityDtos
@using MonitoringSystem.Shared.Data.LogModel
@using MonitoringSystem.Shared.Data.SettingsModel
@using MonitoringWeb.WebApp.Services


<div class="card-body">
    <DxLoadingPanel Visible="@this._loading"
                    ApplyBackgroundShading="true">


        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
            @if (this._bulkH2SettingsDto.AnalogItem==null) {
                <h3>Failed to load analog item</h3>
            } else {
                <DxFormLayoutGroup Caption="H2 Alert Levels" BeginRow="true">
                    <DxFormLayoutItem Caption="SoftWarn(Initial Email)">
                        <DxSpinEdit Value="@this._bulkH2SettingsDto.AnalogItem?.Level1SetPoint"
                                    ReadOnly="true"/>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Warning">
                        <DxSpinEdit Value="@this._bulkH2SettingsDto.AnalogItem?.Level2SetPoint"
                                    ShowSpinButtons="false"
                                    ReadOnly="true"/>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Alarm">
                        <DxSpinEdit Value="@this._bulkH2SettingsDto.AnalogItem?.Level3SetPoint"
                                    ShowSpinButtons="false"
                                    ReadOnly="true"/>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanLg="12">
                        <DxButton Text="Save Changes"
                                  Click="@(async () => await this.SaveAnalogItemHandler())"
                                  RenderStyle="ButtonRenderStyle.Primary"/>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
            }
            <DxFormLayoutGroup Caption="Bulk H2 Calculator Settings" BeginRow="true">
                <DxFormLayoutItem Caption="Days From Alarm">
                    <DxSpinEdit @bind-Value="@this._bulkH2SettingsDto.BulkH2CalcSettings.DaysFromAlarm"/>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Minimum Alarm Level">
                    <DxSpinEdit @bind-Value="@this._bulkH2SettingsDto.BulkH2CalcSettings.AlarmLevel"/>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Usage Rate(PSI/Day)">
                    <DxSpinEdit @bind-Value="@this._bulkH2SettingsDto.BulkH2CalcSettings.Rate" ReadOnly="true"/>
                </DxFormLayoutItem>
                @*<DxFormLayoutItem Caption="Min SoftWarn Level">
                    <DxSpinEdit @bind-Value="@this._bulkH2SettingsDto.BulkH2CalcSettings.MinSoftWarnLevel"/>
                </DxFormLayoutItem>*@
                <DxFormLayoutItem Caption="Include Weekends?">
                    <DxCheckBox LabelPosition="LabelPosition.Left"
                                AllowIndeterminateState="false"
                                CssClass="fs-6 justify-items-center"
                                @bind-Checked="@this._bulkH2SettingsDto.BulkH2CalcSettings.IncludeWeekends">
                        Include Weekends
                    </DxCheckBox>
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanLg="12">
                    <DxButton Text="Save Changes"
                              Click="@(async () => await this.SaveBulksSettingsHandler())"
                              RenderStyle="ButtonRenderStyle.Primary"/>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayout>
    </DxLoadingPanel>
</div>

@code {

    [Inject] private BulkH2CalcService _calcService { get; set; }
    private BulkH2SettingsDto _bulkH2SettingsDto = new BulkH2SettingsDto();
    private bool _loading = false;
    private bool _analogItemLoaded = false;

    protected override async Task OnInitializedAsync() {
        //this.SpinnerService.Show();
        this._bulkH2SettingsDto = await this._calcService.GetSettings();
    }


    private async Task SaveBulksSettingsHandler() {
        this._loading = true;
        await this._calcService.UpdateSettings(this._bulkH2SettingsDto.BulkH2CalcSettings);
        this._loading=false;
    }

    private async Task SaveAnalogItemHandler() {
        await this._calcService.UpdateAnalogItem(this._bulkH2SettingsDto.AnalogItem);
    }

}