@using MonitoringWeb.WebApp.Data
@using MonitoringWeb.WebApp.Services
@using System.Drawing
@using MongoDB.Driver
@using ClosedXML.Excel
@using MonitoringSystem.Shared.Data
@using MonitoringSystem.Shared.Data.LogModel
@inject PlotDataService PlotService
@inject ValueChanged<DateRange> DateRangeState
@inject IJSRuntime JSRuntime;
@inject WebsiteConfigurationProvider ConfigurationProvider
@implements IAsyncDisposable

<Spinner></Spinner>
<CustomRange @bind-StartDate="this.StartDate" @bind-StopDate="@StopDate" CustomDateVisible="@this.CustomDateVisible"></CustomRange>
<div class="card">
    @if (this.RangeSelectVisible) {
        <div class="card-header">
            <div class="row">
                <div class="col">
                    @foreach (PlotRange range in Enum.GetValues(typeof(PlotRange)).Cast<PlotRange>().ToList()) {
                        <DxButton RenderStyle="ButtonRenderStyle.Light"
                                  Text="@Enum.GetName(range).Substring(1)"
                                  Click="@(async Task (arg) => { await this.OnClick(range); })"/>
                    }
                </div>
            </div>
        </div>
    }
    <div class="card-body">
        @if (this.PlotData == null) {
            <div id="loading-indicator">

            </div>
        } else {
            <DxChart Data="@PlotData"
                     Width="100%"
                     Height="100%">
                <DxChartLegend AllowToggleSeries="true"
                               Orientation="Orientation.Horizontal"
                               VerticalAlignment="VerticalEdge.Top"
                               HorizontalAlignment="HorizontalAlignment.Center"
                               Position="RelativePosition.Outside">
                    <DxChartTitle Text="Detectors"> </DxChartTitle>
                </DxChartLegend>
                <DxChartCommonSeries NameField="@((AnalogReadingDto r) => r.Name)"
                                     ArgumentField="@((AnalogReadingDto r) => r.TimeStamp)"
                                     ValueField="@((AnalogReadingDto r) => (int)r.Value)">
                    <SeriesTemplate Context="settings">
                        @if (this.GasType == BulkGasType.NH3) {
                            <DxChartLineSeries Settings="@settings">
                                <DxChartSeriesLabel Visible="false"/>
                                <DxChartSeriesPoint Visible="true"/>
                                <DxChartAggregationSettings Enabled="true"
                                                            Method="ChartAggregationMethod.Min"/>
                            </DxChartLineSeries>
                        } else {
                            @if (this._bulkGasSettings == null) {
                                <DxChartLineSeries Settings="@settings" Color="Color.Aqua">
                                    <DxChartSeriesLabel Visible="false"/>
                                    <DxChartSeriesPoint Visible="true"/>
                                    <DxChartAggregationSettings Enabled="true"
                                                                Method="ChartAggregationMethod.Min"/>
                                </DxChartLineSeries>
                            } else {
                                <DxChartLineSeries Settings="@settings" 
                                                   Color="@Color.FromKnownColor(this._bulkGasSettings.PointColor)">
                                    <DxChartSeriesLabel Visible="false"/>
                                    <DxChartSeriesPoint Visible="true"/>
                                    <DxChartAggregationSettings Enabled="@_bulkGasSettings.EnableAggregation"
                                                                Method="ChartAggregationMethod.Min"/>
                                </DxChartLineSeries>
                            }
                        }
                    </SeriesTemplate>
                </DxChartCommonSeries>
                <DxChartArgumentAxis ArgumentType="ChartAxisDataType.DateTime"
                                     Type="ChartAxisType.Continuous">
                    <DxChartAxisRange StartValue="@this.PlotStart"
                                      EndValue="@this.PlotStop"/>
                </DxChartArgumentAxis>
                <DxChartValueAxis ValueType="ChartAxisDataType.Numeric" >
                    @if (this._bulkGasSettings != null) {
                        <DxChartConstantLine Value="@this._bulkGasSettings.AlrmRefLine.Value" Width="3" 
                                             DisplayBehindSeries="false"
                                             Color="@Color.FromKnownColor(this._bulkGasSettings.AlrmRefLine.Color)">
                            <DxChartConstantLineLabel Text="@this._bulkGasSettings.AlrmRefLine.Label" 
                                                      HorizontalAlignment="HorizontalAlignment.Center"
                                                      VerticalAlignment="VerticalAlignment.Center"
                                                      Position="RelativePosition.Inside" />
                        </DxChartConstantLine>
                        <DxChartConstantLine Value="@this._bulkGasSettings.WarnRefLine.Value" Width="3" 
                                             DisplayBehindSeries="false"
                                             Color="@Color.FromKnownColor(this._bulkGasSettings.WarnRefLine.Color)">
                            <DxChartConstantLineLabel Text="@this._bulkGasSettings.WarnRefLine.Label" HorizontalAlignment="HorizontalAlignment.Center"
                                                      VerticalAlignment="VerticalAlignment.Center"
                                                      Position="RelativePosition.Inside" />
                        </DxChartConstantLine>
                        <DxChartConstantLine Value="@this._bulkGasSettings.SoftRefLine.Value" Width="3" 
                                             DisplayBehindSeries="false"
                                             Color="@Color.FromKnownColor(this._bulkGasSettings.SoftRefLine.Color)">
                            <DxChartConstantLineLabel Text="@this._bulkGasSettings.SoftRefLine.Label" HorizontalAlignment="HorizontalAlignment.Center"
                                                      VerticalAlignment="VerticalAlignment.Center"
                                                      Position="RelativePosition.Inside" />
                        </DxChartConstantLine>
                    }
                    <DxChartAxisRange StartValue="@this.Sensor.YAxisStart" 
                                      EndValue="@this.Sensor.YAxisStop"/>

                    <DxChartAxisTitle Text="@this.Sensor.Units"/>
                </DxChartValueAxis>
                <DxChartZoomAndPanSettings ArgumentAxisZoomAndPanMode="ChartAxisZoomAndPanMode.Both"/>
                <DxChartScrollBarSettings ArgumentAxisScrollBarVisible="true"
                                          ArgumentAxisScrollBarPosition="ChartScrollBarPosition.Bottom"/>

                <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
                    <div style="background-color: grey;">
                        <div class="font-weight-bold">
                            t: @(((DateTime)context.Point.Argument).DateTimeLocal())
                        </div>
                        <div>
                            value: @((context.Point.Value))
                        </div>
                    </div>
                </DxChartTooltip>
            </DxChart>
        }
    </div>
</div>
@code {
    [Parameter]
    public BulkGasType GasType { get; set; }
    
    [Parameter] 
    public bool CustomDateVisible { get; set; } = true;

    [Parameter] 
    public bool RangeSelectVisible { get; set; } = true;

    BulkGasSettings? _bulkGasSettings;
    AccordionExpandCollapseAction ExpandCollapseAction { get; set; } = AccordionExpandCollapseAction.HeaderClick;
    DateTime StartDate = DateTime.Now.AddDays(-1).ToLocalTime();
    DateTime StopDate = DateTime.Now.AddHours(6).ToLocalTime();
    DateTime PlotStart;
    DateTime PlotStop;
    SensorType Sensor;
    IEnumerable<AnalogReadingDto>? PlotData { get; set; }
    string Header = "";

    protected override async Task OnInitializedAsync() {
        this.DateRangeState.OnChildChanged += this.OnDateRangeChanged;
        if (this.GasType == BulkGasType.H2) {
            this._bulkGasSettings=this.ConfigurationProvider.WebsiteBulkSettings.H2Settings;
            this.StartDate = DateTime.Now.AddHours(this._bulkGasSettings.HoursBefore*-1).ToLocalTime();
            this.StopDate = DateTime.Now.AddHours(this._bulkGasSettings.HoursAfter).ToLocalTime();
        }else if (this.GasType==BulkGasType.N2) {
            this._bulkGasSettings=this.ConfigurationProvider.WebsiteBulkSettings.N2Settings;
            this.StartDate = DateTime.Now.AddHours(this._bulkGasSettings.HoursBefore*-1).ToLocalTime();
            this.StopDate = DateTime.Now.AddHours(this._bulkGasSettings.HoursAfter).ToLocalTime();
        }
        await this.Load();
    }

    private Task Submit() {
        return Task.CompletedTask;
    }

    private async Task OnDateRangeChanged() {
        this.StartDate = this.DateRangeState.Item.Start;
        this.StopDate = this.DateRangeState.Item.Stop;
        await this.Load();
    }
    
    private async Task OnClick(PlotRange range) {
        this.StartDate = DateTime.Now.AddDays(-(int)range);
        this.StopDate = DateTime.Now.AddDays((int)range);
        await this.Load();
    }

    private async Task Load() {
        this.PlotData=null;
        await InvokeAsync(StateHasChanged);
        var start= this.StartDate;
        var stop = this.StopDate;
        switch (this.GasType) {
            case BulkGasType.N2:
                this.Header = "Bulk N2";
                var ret=await this.PlotService.GetChannelDatav2("epi1_data", "Bulk N2(inH20)", start, stop);
                this.PlotData = ret.Item2;
                this.Sensor = ret.Item1;
                break;
            case BulkGasType.H2:
                this.Header = "Bulk H2";
                var ret2 = await this.PlotService.GetChannelDatav2("epi1_data", "Bulk H2(PSI)", start, stop);
                this.PlotData = ret2.Item2;
                this.Sensor = ret2.Item1;
                break;
            case BulkGasType.NH3:
                this.Header = "Bulk NH3";
                var ret3 = await this.PlotService.GetBulkNH3(this.StartDate, this.StopDate);
                this.PlotData = ret3.Item2;
                this.Sensor = ret3.Item1;
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
        
        this.PlotStart = this.StartDate;
        this.PlotStop = this.StopDate;
        this.DateRangeState.SetItemParent(new DateRange() {
            Start=this.StartDate,Stop = this.StopDate
        });
        await InvokeAsync(StateHasChanged);
    }

    public override async Task SetParametersAsync(ParameterView parameters) {
        await base.SetParametersAsync(parameters);
        await this.Load();
    }
    
    public ValueTask DisposeAsync() {
        this.DateRangeState.OnChildChanged -= this.OnDateRangeChanged;
        return ValueTask.CompletedTask;
    }
}