@using MonitoringSystem.Shared.Data
@using System.Drawing
@using MonitoringWeb.WebApp.Services
@inject WebsiteConfigurationProvider ConfigurationProvider
@inject ISidepanelService Sidepanel
@inject BulkGasProvider BulkGasProvider

<EditForm Model="@this.BulkSettings"
          OnValidSubmit="@(async ()=>await this.HandleValidSubmit())"
          Context="EditFormContext">
    <div class="card-body">
        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
            <DxFormLayoutItem Caption="Refresh Time(min)" CaptionPosition="CaptionPosition.Vertical">
                <DxSpinEdit @bind-Value="@this._refreshTime"/>
            </DxFormLayoutItem>
            <DxFormLayoutGroup Caption="Email Settings">
                <BulkGasAddressList Caption="To Addresses" @bind-AddressList=this.BulkSettings.EmailSettings.ToAddresses />
                <BulkGasAddressList Caption="CC Addresses" @bind-AddressList=this.BulkSettings.EmailSettings.CcAddresses />
            </DxFormLayoutGroup>
            <DxFormLayoutGroup Caption="Gas Settings">
                <DxAccordion>
                    <Items>
                        <DxAccordionItem Text="H2 Settings" Expanded="true">
                            <ContentTemplate>
                                <BulkGasForm @bind-Settings="@this.BulkSettings.H2Settings"></BulkGasForm>
                            </ContentTemplate>
                        </DxAccordionItem>
                        <DxAccordionItem Text="N2 Settings">
                            <ContentTemplate>
                                <BulkGasForm @bind-Settings="@this.BulkSettings.N2Settings"></BulkGasForm>
                            </ContentTemplate>
                        </DxAccordionItem>
                    </Items>
                </DxAccordion>
            </DxFormLayoutGroup>
            <DxFormLayoutItem ColSpanLg="12">
                <DxButton Text="Save Changes"
                          SubmitFormOnClick="true"
                          RenderStyle="ButtonRenderStyle.Primary"/>
            </DxFormLayoutItem>
        </DxFormLayout>
    </div>
</EditForm>
@code {
    [Parameter]
    public WebsiteBulkSettings BulkSettings { get; set; }
    
    [Parameter]
    public EventCallback Saved { get; set; }
    
    int _refreshTime = 0;

    protected override Task OnInitializedAsync() {
        this._refreshTime = this.BulkSettings.RefreshTime / 60 / 1000;
        return base.OnInitializedAsync();
    }

    protected override Task OnParametersSetAsync() {
        this._refreshTime = this.BulkSettings.RefreshTime / 60 / 1000;
        return base.OnParametersSetAsync();
    }

    private async Task HandleValidSubmit() {
        this.BulkSettings.RefreshTime = this._refreshTime * 60 * 1000;
        await this.BulkGasProvider.Update(this.BulkSettings);
        await this.Saved.InvokeAsync();
        Sidepanel.Close();
    }
}