@using MonitoringWeb.WebApp.Components
@using MonitoringWeb.WebApp.Data
@using MonitoringSystem.Shared.Data
@inject NavigationManager NavigationManager

<div class="sidebar @StateCssClass">
    <DxTreeView AllowSelectNodes="true" CssClass="app-sidebar" >
        <Nodes>
            <DxTreeViewNode  NavigateUrl="/" Text="Dashboard" ></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="alertsview" Text="Recent Alerts"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="plot" Text="Detector Plots"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="config" Text="Configuration"></DxTreeViewNode>
            <DxTreeViewNode Name="ThData" Text="Temp. and Humidity" Expanded="false">
                <Nodes>
                    <DxTreeViewNode Text="Epi1 TH Monitor" NavigateUrl="@e1th"/>
                    <DxTreeViewNode Text="Epi2 TH Monitor" NavigateUrl="@e2th"/>
                </Nodes>
            </DxTreeViewNode>
            <DxTreeViewNode Name="scale" Text="NH3 Scale Calibration" Expanded="false">
                <Nodes>
                    <DxTreeViewNode Text="Tank/Scale Calibration" NavigateUrl="scalecal"/>
                    <DxTreeViewNode Text="Scale Calibration(OLD)" NavigateUrl="scalecalold"/>
                </Nodes>
            </DxTreeViewNode>
            <DxTreeViewNode Name="BulkGases" Text="Bulk Gases" Expanded="false">
                <Nodes>
                    <DxTreeViewNode Text="Bulk Gas Dashboard" NavigateUrl="bulkdash" />
                    <DxTreeViewNode Text="Hydrogen" NavigateUrl="@h2gas"/>
                    <DxTreeViewNode Text="Nitrogen" NavigateUrl="@n2gas"/>
                    <DxTreeViewNode Text="Ammonia" NavigateUrl="@nh3gas"/>
                    <DxTreeViewNode Text="Silane" NavigateUrl="@sigas"/>
                </Nodes>
            </DxTreeViewNode>
            <DxTreeViewNode Name="Admin" Text="Admin" Expanded="false">
                <Nodes>
                    <DxTreeViewNode Text="Upload" NavigateUrl="upload"/>
                </Nodes>
            </DxTreeViewNode>
        </Nodes>
    </DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
    string h2gas = $"bulkgas/{(int)BulkGasType.H2}";
    string n2gas = $"bulkgas/{(int)BulkGasType.N2}";
    string nh3gas = $"bulkgas/{(int)BulkGasType.NH3}";
    string sigas = $"bulkgas/{(int)BulkGasType.SI}";
    string e1th = $"thdata/{(int)Lab.Epi1}";
    string e2th = $"thdata/{(int)Lab.Epi2}";
}